/* BIO SECTION */
.bio-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  padding-right: 3.2rem;
}

/* BIO HEADER */
.bio {
  position: relative;
}

.bio::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(14, 18, 18, 0) 0%,
      rgba(14, 18, 18, 1) 90%
    ),
    linear-gradient(0deg, rgba(14, 18, 18, 0) 60%, rgba(14, 18, 18, 1) 100%),
    linear-gradient(180deg, rgba(14, 18, 18, 0.5) 60%, rgba(14, 18, 18, 1) 100%),
    url(../img/igmt.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
}

.bio div .bio-container .bio-header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.bio div .bio-container .bio-header h1 {
  font-size: 6.4rem;
  font-weight: 700;
  letter-spacing: -0.3rem;
}

.bio div .bio-container .bio-header ul {
  display: flex;
  list-style: none;
  gap: 1.6rem;
  align-items: center;
}

.bio div .bio-container .bio-header a:link,
.bio div .bio-container .bio-header a:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #b48a01;
  transition: all 0.3s;
}

.bio div .bio-container .bio-header a:hover,
.bio div .bio-container .bio-header a:active {
  text-decoration: none;
  color: #eee;
}

.bio div .bio-container .bio-header p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #b48a01;
}

/* SKILLS AND TOOLS */
.bio div .bio-container .bio-skills-tools {
  display: grid;
  row-gap: 3.2rem;
  margin-right: -25vw;
}

/* SKILLS */
.bio div .bio-container .bio-skills-tools .bio-skills h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  /* margin-right: -25vw; */
}

.bio div .bio-container .bio-skills-tools .bio-skills ul {
  list-style: none;
}

.bio div .bio-container .bio-skills-tools .bio-skills ul li {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #b0b0b0;
}

/* TOOLS */
.bio div .bio-container .bio-skills-tools .bio-tools h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.bio div .bio-container .bio-skills-tools .bio-tools ul {
  list-style: none;
}

.bio div .bio-container .bio-skills-tools .bio-tools ul li {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #b0b0b0;
}

/* LOVES */
.bio div .bio-container .bio-skills-tools .bio-loves h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.bio div .bio-container .bio-skills-tools .bio-loves ul {
  list-style: none;
}

.bio div .bio-container .bio-skills-tools .bio-loves ul li {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #b0b0b0;
}
