/* BIO SECTION */
.bio-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  padding-right: 3.2rem;
}

/* BIO HEADER */

.bio div .bio-container .bio-header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.bio div .bio-container .bio-header h1 {
  font-size: 6.4rem;
  font-weight: 700;
  letter-spacing: -0.3rem;
}

.bio div .bio-container .bio-header ul {
  display: flex;
  list-style: none;
  gap: 1.6rem;
  align-items: center;
}

.bio div .bio-container .bio-header a:link,
.bio div .bio-container .bio-header a:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #b48a01;
  transition: all 0.3s;
}

.bio div .bio-container .bio-header a:hover,
.bio div .bio-container .bio-header a:active {
  text-decoration: none;
  color: #eee;
}

.bio div .bio-container .bio-header p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #b48a01;
}

/* SKILLS AND TOOLS */
.bio div .bio-container .bio-skills-tools {
  display: grid;
  row-gap: 3.2rem;
  margin-right: -25vw;
}

/* SKILLS */
.bio div .bio-container .bio-skills-tools .bio-skills h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  /* margin-right: -25vw; */
}

.bio div .bio-container .bio-skills-tools .bio-skills ul {
  list-style: none;
}

.bio div .bio-container .bio-skills-tools .bio-skills ul li {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #b0b0b0;
}

/* TOOLS */
.bio div .bio-container .bio-skills-tools .bio-tools h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.bio div .bio-container .bio-skills-tools .bio-tools ul {
  list-style: none;
}

.bio div .bio-container .bio-skills-tools .bio-tools ul li {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #b0b0b0;
}

/* LOVES */
.bio div .bio-container .bio-skills-tools .bio-loves h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.bio div .bio-container .bio-skills-tools .bio-loves ul {
  list-style: none;
}

.bio div .bio-container .bio-skills-tools .bio-loves ul li {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #b0b0b0;
}
