.footer div .footer-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-right: -25vw;
  padding-right: 3.2rem;
}

.footer div .footer-container .footer-header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer div .footer-container .footer-header .logo-box p {
  color: #b0b0b0;
  font-size: 1.9rem;
}

.footer div .footer-container .footer-header .resources-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
}

.footer div .footer-container .footer-header .resources-box .resources-list {
  list-style: none;
}

.footer
  div
  .footer-container
  .footer-header
  .resources-box
  .resources-list
  .ico {
  margin-bottom: 3.2rem;
}

.footer div .footer-container .footer-header .resources-box .resources-list li {
  color: #e1ad01;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer
  div
  .footer-container
  .footer-header
  .resources-box
  .resources-list
  li
  a:link,
.footer
  div
  .footer-container
  .footer-header
  .resources-box
  .resources-list
  li
  a:visited {
  text-decoration: none;
  color: #e1ad01;

  transition: all 0.3s;
}

.footer
  div
  .footer-container
  .footer-header
  .resources-box
  .resources-list
  li
  a:hover,
.footer
  div
  .footer-container
  .footer-header
  .resources-box
  .resources-list
  li
  a:active {
  color: #eee;
}

.footer div .footer-container .footer-credits {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer div .footer-container .footer-credits p {
  font-size: 1.9rem;
}

.footer div .footer-container .footer-credits .span {
  color: #b0b0b0;
  font-size: 1.9rem;
}
